on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: node
          package-name: 'eslint-plugin-eslint-plugin'
          pull-request-title-pattern: 'chore: release${component} ${version}'
          changelog-types: >
            [
              { "type": "feat", "section": "Features", "hidden": false },
              { "type": "fix", "section": "Bug Fixes", "hidden": false },
              { "type": "docs", "section": "Documentation", "hidden": false },
              { "type": "build", "section": "Build Related", "hidden": false },
              { "type": "chore", "section": "Chores", "hidden": false },
              { "type": "perf", "section": "Chores", "hidden": false },
              { "type": "ci", "section": "Chores", "hidden": false },
              { "type": "refactor", "section": "Chores", "hidden": false },
              { "type": "test", "section": "Chores", "hidden": false }
            ]
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          registry-url: https://registry.npmjs.org
        if: ${{ steps.release.outputs.release_created }}
      - run: |
          npm install --force
          npm run build
          npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: ${{ steps.release.outputs.release_created }}
